In this tutorial, you will learn how to use Python's pandas package to clean the taxi GPS data  and identify the origin-destination (OD) of travel flow

<div class="alert alert-info"><h2>The data provided:</h2><p>    data：<br>  
    1.taxi GPS data(in the data-sample folder, data of 500 vehicles sampled from the original data set)</p></div>

[pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

# Read data

First, read the taxi GPS data.

In [2]:
import pandas as pd
#Read data
data = pd.read_csv(r'data-sample/TaxiData-Sample',header = None)
#rename the columns for the data
data.columns = ['VehicleNum', 'Stime', 'Lng', 'Lat', 'OpenStatus', 'Speed']

In [3]:
#display the first 5 rows of the data
data.head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
0       22271  22:54:04  114.167000  22.718399           0      0
1       22271  18:26:26  114.190598  22.647800           0      4
2       22271  18:35:18  114.201401  22.649700           0      0
3       22271  16:02:46  114.233498  22.725901           0     24
4       22271  21:41:17  114.233597  22.720900           0     19

Format of data：

>VehicleNum —— Vehicle Number(license plate)  
Stime —— GPS time  
Lng —— Longitude  
Lat —— Latitude  
OpenStatus —— is it occupied(0 - No，1 - Yes)  
Speed —— Speed

# Basic data processing methods

## DataFrame和Series

DataFrame和Series

   > When we read a data, we read in the data table in the format of **DataFrame**, and each column in a dataframe is a **Series**  
    In another word, a **DataFrame** consists of multiple **Series**

In [87]:
type(data)

pandas.core.frame.DataFrame

If we want to get a column of **DataFrame**, and want to get **Series**, we can use the following code

   > data[**column name**]

In [88]:
type(data['Lng'])

pandas.core.series.Series

If we want to get a column or columns of **DataFrame**, and what we want is a **DataFrame**,  use the following code

> data2[[**column name1**,**column name2**]]

In [89]:
type(data[['Lng']])

pandas.core.frame.DataFrame

## Data filtering

Data filtering:

>When filtering data, we usually use the code: **data[condition]**  
The condition is the series of true and false Boolean for each row of data

>For example, if we want to get all the data with a license plate of 22271  
First of all, we need to obtain a series of Boolean variables, which corresponds to each row of data. If the license plate is "22271", it is true. If not, it is false  
Such a sub series is easy to obtain:  
data['VehicleNum']==22271

In [90]:
(data['VehicleNum']==22271).head(5)

0    True
1    True
2    True
3    True
4    True
Name: VehicleNum, dtype: bool

In [92]:
#Get all data with license plate 22271
data[data['VehicleNum']==22271].head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
0       22271  22:54:04  114.167000  22.718399           0      0
1       22271  18:26:26  114.190598  22.647800           0      4
2       22271  18:35:18  114.201401  22.649700           0      0
3       22271  16:02:46  114.233498  22.725901           0     24
4       22271  21:41:17  114.233597  22.720900           0     19

If we want to delete all the data with the license plate of 22271 from the data, it is also very easy:
    
> data[-(condition)]
    
Note: if you don't want strange bugs, please filter the data according to the format I give above. I don't recommend using **data.drop()** to delete row data. **data.drop()** is only used when you want to delete a column.

In [93]:
#Delete data with license plate 22271
data[-(data['VehicleNum']==22271)].head(5)

      VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
1437       35807  01:53:46  113.809898  22.626801           0      0
1438       35807  01:43:46  113.813301  22.623600           0      0
1439       35807  01:14:15  113.847000  22.594700           0     41
1440       35807  02:01:41  113.852501  22.625700           0     22
1441       35807  01:01:59  113.897003  22.551901           0     42

## How to obtain/delete/define a column of dataframe

In [94]:
#Obtain the 'Stime' column from the data. Note that this operation will not affect data. 
#You must reassign the resulting table to data after the operation
data[['Stime']].head(5)

      Stime
0  22:54:04
1  18:26:26
2  18:35:18
3  16:02:46
4  21:41:17

In [95]:
#Define column 'speed1' as twice as the 'speed' column, 
#Note that this operation will affect data
data['Speed1']=data['Speed']*2

#Or

data.loc[:,'Speed1']=data['Speed']*2

data.head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed  Speed1
0       22271  22:54:04  114.167000  22.718399           0      0       0
1       22271  18:26:26  114.190598  22.647800           0      4       8
2       22271  18:35:18  114.201401  22.649700           0      0       0
3       22271  16:02:46  114.233498  22.725901           0     24      48
4       22271  21:41:17  114.233597  22.720900           0     19      38

In [96]:
#Delete column 'Stime'. Note that this operation will not affect data. 
#You must reassign the resulting table to data after the operation
data.drop(['Stime'],axis=1).head(5)# will not affect data.

   VehicleNum         Lng        Lat  OpenStatus  Speed  Speed1
0       22271  114.167000  22.718399           0      0       0
1       22271  114.190598  22.647800           0      4       8
2       22271  114.201401  22.649700           0      0       0
3       22271  114.233498  22.725901           0     24      48
4       22271  114.233597  22.720900           0     19      38

In [97]:
#Delete column 'Stime'. Note that this operation will not affect data. 
#You must reassign the resulting table to data after the operation


data = data.drop(['Speed1'],axis=1) #reassign to data. 
#The parameter axis = 1 means to delete a column. 
#If axis = 0, it means to delete a row. 
#However, this function is not recommended to delete rows.
data.head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
0       22271  22:54:04  114.167000  22.718399           0      0
1       22271  18:26:26  114.190598  22.647800           0      4
2       22271  18:35:18  114.201401  22.649700           0      0
3       22271  16:02:46  114.233498  22.725901           0     24
4       22271  21:41:17  114.233597  22.720900           0     19

## Obtain a row from a column

When obtaining a row, remember to use **iloc** (get by the current order of the table), not **loc** (get by index)

Because after we do filtering, sorting and other operations many times, the tables are not arranged by index.  
If we use **loc** to get the columns, we will get the wrong columns, or directly report an error (can't find this index)

In [98]:
#Get 4th row data of Stime column
data['Stime'].iloc[3]

'16:02:46'

# Data cleaning

First of all, we sort the data according to the license plate and time.   
Remember, after sorting the data, we need to reassign it to data, otherwise it will not work

In [99]:
# Sort the data and reassign the sorted data to the original data
data = data.sort_values(by = ['VehicleNum','Stime'])
data.head(5)

      VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
39         22271  00:00:49  114.266502  22.728201           0      0
397        22271  00:01:48  114.266502  22.728201           0      0
1413       22271  00:02:47  114.266502  22.728201           0      0
244        22271  00:03:46  114.266502  22.728201           0      0
247        22271  00:04:45  114.268898  22.729500           0     11

What we need to do now is to identify origin and destination OD of trips from taxi GPS data:
After the data is sorted by license plate and time, the **openstatus** is as follows:

|OpenStatus |  |
| :-----------: |-----------|
|0||
|0||
|0||
|0||
|0||
|1|←the trip begin|
|1||
|1||
|1||
|1||
|1||
|1||
|0| ←the trip end|
|0||
|0||
|0||

However, sometimes there are abnormals , such as:

|OpenStatus |  |
| ----------- |-----------|
|0||
|0||
|0||
|0||
|0||
|1|←abnormal|
|0||
|0||
|0||
|0||

or

|OpenStatus |  |
| ----------- |-----------|
|1||
|1||
|1||
|1||
|1||
|0|←abnormal|
|1||
|1||
|1||
|1||

All of a sudden, a piece of data becomes 1, or all of a sudden, it becomes 0.   
We are going to rule out this kind of abnormal situation

In pandas, the best way to filter out the data we don't want is

>**data[condition]** is to keep qualified data  
**data[-(condition)]** is to delete qualified data

And there is:
>The **shift()** function of **Series** moves data one row backward in order  
The **shift(-1)** function of **Series** moves data one row forward  in order  
So we have to judge:  
For every three row, if the latter row equals to the former row, but the latter row and the middle row are different, then the data in the middle will be deleted (and the license plate of these three row must be the same)
    
So, let's delete the abnormal data

In [100]:
#data volumne before filtering
len(data)

1601307

In [101]:
###########################You need to write code here#############################
#Here, clean the abnormal data mentioned above
#The conditions used are:
#1.latter row equals to the former row
#2.but the latter row and the middle row are different
#3.the license plate of latter row equals to the former row
#4.the license plate of middle row equals to the latter row

#The intersection of conditions
#data[(condition1)&(condition2)]
#The union between the conditions
#data[(condition1)|(condition2)]


#data = 


###################################################################################

In [102]:
###############################     Answer   ##################################
data = data[-((data['OpenStatus'].shift(-1) == data['OpenStatus'].shift())&
(data['OpenStatus'].shift(-1) != data['OpenStatus'])&
(data['VehicleNum'].shift(-1) == data['VehicleNum'].shift())&
(data['VehicleNum'].shift(-1) == data['VehicleNum']))]

###################################################################################

In [103]:
#If your code is correct, the amount of data after filter should be
len(data)

1598866

# Identification of OD

## identify state change of passengers getting on and off

In [104]:
data.head(5)

      VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
39         22271  00:00:49  114.266502  22.728201           0      0
397        22271  00:01:48  114.266502  22.728201           0      0
1413       22271  00:02:47  114.266502  22.728201           0      0
244        22271  00:03:46  114.266502  22.728201           0      0
247        22271  00:04:45  114.268898  22.729500           0     11

Next, we put the information of the next row on the previous row. In this way, we can easily compare the difference between this row and the next row

Create new column to represent the value of the next row

In addition, we define the column **StatusChange** equals to the **OpenStatus** of the next row minus the **OpenStatus** of this row, and then it will become:



|OpenStatus     |   OpenStatus1(next row)    |  StatusChange||
| ----------- |-----------|||
|0          |       0    |             0||
|0          |       0    |             0||
|0         |        0    |             0||
|0          |       1    |             1 |    ←the trip begin|
|1          |       1    |             0  |   ←the trip begin|
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       1    |             0||
|1          |       0    |             -1|    ←the trip end|
|0          |       0    |             0  |  ←the trip end|
|0          |       0    |             0||
|0          |       0    |             0||
|0          |       0    |             0||

Note that there are two rows representing passengers get on and get off. Generally speaking, we think the location and time of these two data are very close, which can both be considered.

In [105]:
###########################You need to write code here#############################
#Assign the next row of these fields to the new field. 
#Add '1' to the field name to represent the value of the next row
#data.loc[:,'OpenStatus1'] = 
#data.loc[:,'VehicleNum1'] = 
#data.loc[:,'Lng1'] = 
#data.loc[:,'Lat1'] = 
#data.loc[:,'Stime1'] = 

#data.loc[:,'StatusChange'] = 


###################################################################################

In [106]:
###############################     Answer   ##################################
data.loc[:,'OpenStatus1'] = data['OpenStatus'].shift(-1)
data.loc[:,'VehicleNum1'] = data['VehicleNum'].shift(-1)
data.loc[:,'Lng1'] = data['Lng'].shift(-1)
data.loc[:,'Lat1'] = data['Lat'].shift(-1)
data.loc[:,'Stime1'] = data['Stime'].shift(-1)

data.loc[:,'StatusChange'] = data['OpenStatus1']-data['OpenStatus']


###################################################################################
data.head(5)

,VehicleNum,Stime,Lng,Lat,OpenStatus,Speed,OpenStatus1,VehicleNum1,Lng1,Lat1,Stime1,StatusChange
39,22271,00:00:49,114.266502,22.728201,0,0,0.0,22271.0,114.266502,22.728201,00:01:48,0.0
397,22271,00:01:48,114.266502,22.728201,0,0,0.0,22271.0,114.266502,22.728201,00:02:47,0.0
1413,22271,00:02:47,114.266502,22.728201,0,0,0.0,22271.0,114.266502,22.728201,00:03:46,0.0
244,22271,00:03:46,114.266502,22.728201,0,0,0.0,22271.0,114.268898,22.729500,00:04:45,0.0
247,22271,00:04:45,114.268898,22.729500,0,11,0.0,22271.0,114.272003,22.731199,00:05:44,0.0

## Sort out the boarding and alighting status into OD

Here, I just want to keep the rows whose **statuschange** field is 1 or - 1

However, the vehicle ID of this row and the next row must be the same

In [107]:
###########################You need to write code here#############################
#two conditions：
#1.StatusChange is 1 or - 1
#2.the vehicle ID of this row and the next row must be the same
#data=

###################################################################################

In [108]:
###############################     Answer   ##################################
data = data[((data['StatusChange'] == 1)|(data['StatusChange'] == -1))
&(data['VehicleNum'] == data['VehicleNum1'])]

###################################################################################
data.head(5)

,VehicleNum,Stime,Lng,Lat,OpenStatus,Speed,OpenStatus1,VehicleNum1,Lng1,Lat1,Stime1,StatusChange
1548741,22334,00:00:52,114.111130,22.576750,1,13,0.0,22334.0,114.111130,22.576750,00:01:04,-1.0
1548351,22334,00:07:44,114.080498,22.554182,0,11,1.0,22334.0,114.080498,22.554182,00:07:57,1.0
1549620,22334,00:17:58,114.084915,22.540850,1,2,0.0,22334.0,114.084915,22.540850,00:18:16,-1.0
1547182,22334,00:18:56,114.084915,22.540850,0,0,1.0,22334.0,114.084915,22.540850,00:19:05,1.0
1547627,22334,00:44:47,114.056236,22.633383,1,3,0.0,22334.0,114.056236,22.633383,00:44:52,-1.0

In [109]:
#only keeps some fields we need
data = data[['VehicleNum','Stime','Lng','Lat','StatusChange']]
data.head(5)

         VehicleNum     Stime         Lng        Lat  StatusChange
1548741       22334  00:00:52  114.111130  22.576750          -1.0
1548351       22334  00:07:44  114.080498  22.554182           1.0
1549620       22334  00:17:58  114.084915  22.540850          -1.0
1547182       22334  00:18:56  114.084915  22.540850           1.0
1547627       22334  00:44:47  114.056236  22.633383          -1.0

We now have the data with the boarding and alighting information.

We want to get OD data in the form that each row of record includes information: vehicle ID, boarding time, boarding place, alighting time, alighting place

Such a row of data is an OD

So, the next step is...

In [111]:
###########################You need to write code here#############################




###################################################################################
data.head(5)

,VehicleNum,Stime,SLng,SLat,ELng,ELat,Etime
1548351,22334,00:07:44,114.080498,22.554182,114.084915,22.540850,00:17:58
1547182,22334,00:18:56,114.084915,22.540850,114.056236,22.633383,00:44:47
1547511,22334,02:38:35,114.091637,22.543200,114.093498,22.554382,02:46:52
1547789,22334,03:58:46,114.038818,22.553232,114.052299,22.604366,04:13:57
1547764,22334,06:30:11,114.031250,22.519550,114.067886,22.521299,06:41:19

In [110]:
###############################     Answer   ##################################
data = data.rename(columns = {'Lng':'SLng','Lat':'SLat'})
data['ELng'] = data['SLng'].shift(-1)
data['ELat'] = data['SLat'].shift(-1)
data['Etime'] = data['Stime'].shift(-1)
data = data[data['StatusChange'] == 1]
data = data.drop('StatusChange',axis = 1)
###################################################################################

Finished! The next step is to save  

There is a taxiod.csv file in the data folder, which I use 1.7GB of all data to calculate the OD. We can use that in the next tutorial

In [45]:
data.to_csv(r'data-sample\TaxiOD-Sample.csv',index = None)